
<h1 mat-dialog-title cdkFocusInitial>Edit bank</h1>
<div mat-dialog-content>
    <p>
    Name:
    <mat-form-field appearance="outline" class="fields" >
            <input #name id="name"
            type="text"
            matInput
            [(ngModel)]="data.name">
    </mat-form-field>
    </p>

    <p>
    Country:
    <mat-form-field appearance="outline" class="fields" >
            <input #country id="country"
            type="text"
            matInput
            [(ngModel)]="data.country"
            [disabled]="true">
    </mat-form-field>
    </p>

    <p>
    Page URL:
    <mat-form-field appearance="outline" class="fields">
            <input #pageurl id="url"
            type="text"
            matInput
            [(ngModel)]="data.pageurl">
    </mat-form-field>
    </p>

    <p>
    Sender currency:
    <mat-form-field appearance="outline" class="fields">
            <input #fromCurrency id="fromCurrency"
            type="text"
            matInput
            [(ngModel)]="data.fromCurrency"
            [disabled]="true">
    </mat-form-field>
    </p>

    <p>
    Receiver currency Xpath:
    <mat-form-field appearance="outline" class="fields">
        <input #toCurrencyXpath id="toCurrencyXpath"
        type="text"
        matInput
        [(ngModel)]="data.toCurrencyXpath">
    </mat-form-field>
    </p>

    <p>
    Buy Xpath:
    <mat-form-field appearance="outline" class="fields">
        <input #buyxpath id="buyxpath"
        type="text"
        matInput
        [(ngModel)]="data.buyxpath">
    </mat-form-field>
    </p>

    <p>
    Sell Xpath:
    <mat-form-field appearance="outline" class="fields">
        <input #sellxpath id="sellxpath"
        type="text"
        matInput
        [(ngModel)]="data.sellxpath">
    </mat-form-field>
    </p>

    <form [formGroup]="options">
    <p>
    Unit:
    <mat-form-field appearance="outline" class="fields" >
        <mat-select formControlName="unit">
            <mat-option #original
            (blur)="selectUnit(original.value)"
            value={{data.unit}}> {{data.unit}} </mat-option>
            <mat-option #first
            (blur)="selectUnit(first.value)"
            value="M100"> M100 </mat-option>
            <mat-option #sec
            (blur)="selectUnit(sec.value)"
            value="M1000"> M1000 </mat-option>
            <mat-option #third
            (blur)="selectUnit(third.value)"
            value="exchange"> exchange </mat-option>
            <mat-option #fourth
            (blur)="selectUnit(fourth.value)"
            value="percentage"> percentage </mat-option>
        </mat-select>
    </mat-form-field>
    </p>
    </form>

  <p>
    <section id="checkboxes">
      <mat-checkbox id="checkboxCross"
                    [(ngModel)]="data.iscrossinverted"
                    name="crossCheckbox">
        Cross inversion
      </mat-checkbox>
      <mat-checkbox id="checkboxExchange"
                    [(ngModel)]="checkedExchangeUnit"
                    name="exchCheckbox"
                    >
        Exchange unit Xpath
      </mat-checkbox>
    </section>
  <p>
  Exchange unit Xpath:
    <mat-form-field appearance="outline" class="fields">
      <input [disabled]="checkedExchangeUnit==false" #exchangeunitxpath
             (blur)="updateExchangeUnit(exchangeunitxpath.value)"
             (keyup.enter)="updateExchangeUnit(exchangeunitxpath.value)"
             type="text"
             [(ngModel)]="data.exchangeunitxpath"
             matInput>
    </mat-form-field>
  </p>

<mat-dialog-actions>
    <button mat-button id="save-button" (click)="onSaveChanges(data)">Save</button>
</mat-dialog-actions>

</div>
