h1 {
  padding-bottom: 0;
  padding-top: 0;
}

.fields {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    font-size: 15px;
}

#button {
    color: white;
    font-size: 15px;
    background-color: var(--color-primary);
    border-radius: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}

#checkboxes {
  display: flex;
}

#checkboxExchange {
  margin-left: 10%;
  margin-right: 30%;
}

#checkboxCross{
  margin-left: 30%;
  margin-right: 10%;
}

::ng-deep #checkboxCross .mat-ripple-element {
  background-color: grey !important;
}

::ng-deep #checkboxExchange .mat-ripple-element {
  background-color: grey !important;
}

::ng-deep .snackbar {
    background: var(--color-snackbar) !important;
    color: black !important
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--color-primary) !important;
}
