table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: url('src/assets/img/background.png');;
    border-radius:10px;
    border-collapse: separate;
    margin-bottom: 30px;
}

#image-delete {
    width: 20px;
}

.mat-progress-spinner {
  margin: auto;
  display: block;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--color-primary) !important;
}
