
    <h1>List of the banks</h1> 
    <div>        
        <table mat-table [dataSource]="banks">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let bank"> {{bank.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="pageurl">
              <th mat-header-cell *matHeaderCellDef> Page URL </th>
              <td mat-cell *matCellDef="let bank"> {{bank.pageurl}} </td>
            </ng-container>
            
            <ng-container matColumnDef="fromCurrency">
              <th mat-header-cell *matHeaderCellDef> Origin currency </th>
              <td mat-cell *matCellDef="let bank"> {{bank.fromCurrency}} </td>
            </ng-container>
          
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef> Origin country </th>
              <td mat-cell *matCellDef="let bank"> {{bank.country}} </td>
            </ng-container>

            <ng-container>
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef> <img id="image-delete" src="assets/img/delete.png"> </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <img id="image-delete" src="assets/img/delete.png">
          

    </div>


