<body>
<h1> Press the button to get information from banks </h1>
<button mat-button id="trigger-btn">
  <mat-icon (click)="triggerScrapper()" svgIcon="trigger-button"></mat-icon>
</button>
<mat-divider></mat-divider>
<div>
  <h1>Fees</h1>
  <mat-progress-bar *ngIf="isLoadingFees"
                    mode="indeterminate">
  </mat-progress-bar>
  <div id="card-holder" *ngFor="let f of fees">
    <mat-card>
      <mat-card-header>
        <mat-card-title> COUNTRY: {{ f.country }} </mat-card-title>
        <mat-card-title> CURRENCY: {{ f.currency }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        SEPA:
        <br>
        <mat-form-field appearance="outline" class="fee-details">
          <input onChange="this.value = this.value.toUpperCase()" type="number" name="sepa" #sepa [ngModel]="f.sepa"
                 matInput>
        </mat-form-field>
        INTERNATIONAL:
        <mat-form-field appearance="outline" class="fee-details">
          <input type="number" name="intl" #intl [ngModel]="f.intl" matInput>
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button class="action-fee-button" (click)="deleteFee(f)">Delete</button>
      <button mat-raised-button class="action-fee-button" (click)="onEditFee(f, sepa.value, intl.value)">Submit
        changes
      </button>
    </mat-card>
  </div>
  <div>
    <mat-divider></mat-divider>
    <h2> Add new fee</h2>
    <mat-form-field  class="fee-input" appearance="outline">
      <input type="text" maxlength="2" name="form" [(ngModel)]="feeCoun" placeholder="Add country..." matInput>
      <mat-hint align="end">Insert two capital letters</mat-hint>
    </mat-form-field>
    <mat-form-field class="fee-input" appearance="outline">
      <input type="number" min="0" name="form" [(ngModel)]="feeSepa" placeholder="Add SEPA amount..." matInput>
    </mat-form-field>
    <mat-form-field class="fee-input" appearance="outline">
      <input type="number" min="0" name="form" [(ngModel)]="feeIntl" placeholder="Add international amount..." matInput>
    </mat-form-field>
    <mat-form-field class="fee-input" appearance="outline">
      <input type="text" maxlength="3" name="form" [(ngModel)]="feeCurr" placeholder="Add currency..." matInput>
      <mat-hint align="end">Insert three capital letters</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="addFee(feeCoun, feeSepa, feeIntl, feeCurr)" class="submit-button">Submit</button>
  </div>
</div>
</body>

