/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
    height: 100%; 
    font-family: 'SansPro' !important;
}

body { 
    margin: 0; 
}

h1 {
    text-align: center;
    padding: 30px 0;
}

:root {
    --color-primary: #055A6E;
    --color-snackbar: #57B8C1;
    --color-greyish: #C4D8DD;
    --color-red: #DC3D62;
}

@font-face {
    font-family: SansPro;
    src: url(/assets/font/SourceSansPro-Light.otf) format("opentype");
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
